body{
    font-family: 'Roboto' normal;
    font-size: 16px;
    color: black;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6,p{
    margin-top: 0;
    margin-bottom: 0;
}
.title{
    font-family: 'Roboto';
    font-style: normal;
}
.container{
    padding-left: 16px;
    padding-right: 16px;
  
    margin-left: auto;
    margin-right: auto;
}
:root {
    --logo-web-color: #4D5AE5;
    --header-menu-link: #2E2F42;
    --header-menu-addres: #434455;
    --title-def-color: #2E2F42;
    --cubic-bazire-deffault:cubic-bezier(0.4, 0, 0.2, 1);
}
.logo{
    text-decoration:none;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:black;
}
.logo-web{
    color: var(--logo-web-color);
}
.header-menu-items , .header-address-items ,
 .our-features-section-items, .what-are-items,
 .our-team-section-items,.filer-items ,
 .cards-content-item{
    list-style-type: none;
} 
.list{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
@media screen and (min-width:480px){
    .container{
   width: 396px;
    }
    .header-logo{
        align-items: center;
        display: flex;
        padding-bottom: 24px;
        padding-top: 24px;
    }
    .header-menu-items{
        display: none;
    }
    .header-addres-nav{
        display: none;
    }
    .effective-solution-section{
        text-align: center;
        background-image:
        linear-gradient(to right,  
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)),
        url(../images/people-office.jpg);
        padding-top: 112px;
        padding-bottom: 112px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position:center;
    }
    .effective-solution-section-title{
        max-width: 318px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        margin-left: auto;
        margin-right: auto;
        text-transform: capitalize;
        
        color: #FFFFFF;
    }
    .effective-solution-button{
        outline: none;
        border: 0;
        cursor: pointer;
        font-family: 'Roboto';
        font-weight: 500;
        background:  var(--logo-web-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        padding: 16px 32px;
        border-radius: 4px;
        color:white;
        letter-spacing: 0.04em;
        line-height: 1.5;
        margin-top: 72px;
        transition: background 250ms var(--cubic-bazire-deffault);
    }

    .effective-solution-button:hover,
    .effective-solution-button:focus{
    background-color:rgba(64, 75, 191, 1);
    }
    .features-icon{
        display: none;
    }
    .our-features-section-items{
        padding-top: 96px;
        padding-bottom: 96px;
    }
    .our-features-item-title{
        font-family: 'Roboto';
        font-style: normal;
        margin-bottom: 8px;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.111;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        text-align: center;
        color: #2E2F42;
    }
    .our-features-section-items   .our-fetures-item +  .our-fetures-item{
        margin-top: 72px;
    }
    .our-features-item-p{
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

    letter-spacing: 0.02em;


    color: #434455;
    }
    .what-are-we-doing-section{
        display: none;
    }
    .our-team-section{
        background:#F4F4FD;
        padding-top: 96px;
        padding-bottom: 128px;
    }
    .our-team-section-title{
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        margin-bottom: 72px;
    }
    .our-team-section-item {
        margin-left: auto;
        margin-right: auto;
        box-shadow: 0px 1px 6px rgb(46 47 66 / 8%), 0px 1px 1px rgb(46 47 66 / 16%), 0px 2px 1px rgb(46 47 66 / 8%);
        border-radius: 0px 0px 4px 4px;
        max-width: 264px;
    }
    .our-team-cart-txt{
        text-align: center;
        padding: 32px 16px 32px 16px;
        background-color:#FFFFFF;
    }
    .our-team-section-items-title{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: var(--title-def-color);
    }
    .our-team-section-items-p{
        font-family: 'Roboto';
        font-style: normal;
        letter-spacing: 0.02em;
        color: #434455;
        margin-top: 8px;
        font-weight: 400;
        line-height: 1.5;
    }
    .social-list{
        display: flex;
        margin-top: 8px;
        gap: 24px;
    }
    .link-social-contact{
        width: 16px;
        height: 16px;
    }
    .our-team-section-img {
        display: block;
    }

    .our-team-section-img{
        width: 264px;
        height: 260px;
    }
    .social-contact {
        width: 40px;
        height: 40px;
        background: #4D5AE5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background 250ms var(--cubic-bazire-deffault);
    }
    .our-team-section-items .our-team-section-item + .our-team-section-item{
        margin-top: 72px;
    }
    .cutomers-section{
        padding-top: 96px;
        padding-bottom: 96px;
    }
    .customers-title{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 40px;
        /* identical to box height, or 111% */

        text-align: center;
        letter-spacing: 0.02em;
        text-transform: capitalize;

        /* NAVY BLUE */

        color: #2E2F42;
    }
    .company-list {
        margin-top: 72px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .company-item:nth-child(odd){
        margin-right: 16px;
    }
    .company-item:nth-last-child(n+3){
        margin-bottom: 72px;
    }
    .company-link-item {
        border: 1px solid;
        border-color: #8E8F99;
        border-radius: 4px;
        width: 168px;
        height: 88px;
        padding: 16px 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(175, 177, 184, 1);
        transition: color 250ms var(--cubic-bazire-deffault), border-color 250ms var(--cubic-bazire-deffault);
    }
    .company-icon-cmp{
        width: 44px;
        height: 41px;
    }
    .company-icon-ya-co{
        width: 41px;
        height: 46.97px;
    }
    .company-icon-fagiine-here{
        width: 40px;
        height: 52px;
    }
    .company-link-foseter-peters{
        width: 84px;
        height: 41px;
    }
    .company-icon-brand{
        width: 63px;
        height: 45px;
    }
    .company-icon-teg-line{
        width: 94px;
        height: 44px;
    }
    .company-icon-color {
        fill: currentColor;
    }
    .footer{
        background-color: var(--title-def-color);
        padding-top: 96px;
        padding-bottom: 96px;
    }
    .footer-logo {
        display: inline-block;
        color: #F4F4FD;
        display: block;
        text-align: center;
    }
    .footer-p{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        /* or 150% */
        margin-left: auto;
        margin-right: auto;
        margin-top: 16px;
        letter-spacing: 0.02em;

        /* CORNFLOWER */
        max-width: 268px;
        color: #E7E9FC;
    }
    .footer-social-link{
        margin-top: 72px;
    }
    .footer-socual--title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        color: rgba(255, 255, 255, 1);
        text-align: center;
    }
    .social-list--footer {
        display: flex;
        gap: 16px;
        margin-top: 16px;
        justify-content: center;
    }
    .social-contact-footer {
        width: 40px;
        height: 40px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background 250ms var(--cubic-bazire-deffault);
    }
    .link-social-contact-footer {
        width: 24px;
        height: 24px;
    }
   .footer-form{
    margin-top: 72px;
   }
    .footer-sub {
        display: flex;
        flex-direction: column;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        text-align: center;
    }
    .footer-input--email {
        outline: 0;
        border: none;
        margin-top: 16px;
        box-sizing: border-box;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background: transparent;
        padding-left: 16px;
        height: 40px;
        color: white;
    }
    .footer-subscribe {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        border: none;
        letter-spacing: 0.04em;
        cursor: pointer;
        color: #FFFFFF;
        background: rgba(77, 90, 229, 1);
        border-radius: 4px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px 24px;
        gap: 16px;
        margin-top: 16px;
        margin-left: auto;
        margin-right: auto;
    }
    .footer-form-btn-subsctibe {
        width: 24px;
        height: 20px;
        fill: rgba(255, 255, 255, 1);
    }
    .bachdrop{
        display: none;
    }
    /* HOVER and FOCUS */
    .btn-modal-close:is(:hover,:focus){
        background: #404BBF;
    }
    .btn-modal-close:is(:hover,:focus)>.close-btn{
        fill: #FFFFFF;
    }
    .company-link-item:hover,
    .company-link-item:focus{
    border-color:rgba(64, 75, 191, 1);
   color: rgba(64, 75, 191, 1);
}
.social-contact:hover,
.social-contact:focus{
    background:rgba(64, 75, 191, 1);
}
.social-contact-footer:hover,
.social-contact-footer:focus{
    background:rgba(49, 208, 170, 1);
}
.cards-cart-item:hover,
.cards-cart-item:focus{
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px
 rgba(46, 47, 66, 0.08);
}
.cards-cart-item:is(:hover,:focus)  .product-overlay{
    transform: translateY(0);
}
.filter-item:hover,
.filter-item:focus{
    background: #404BBF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #FFFFFF;
}
.effective-solution-button:hover,
.effective-solution-button:focus{
    background-color:rgba(64, 75, 191, 1);
}
.menu-active-color:hover,
.menu-active-color:focus{
    color:rgba(64, 75, 191, 1);
}
.menu-link-botttom-border:is(:hover,:focus)::after{
    opacity: 1;
}
.btn-modal-close:is(:hover,:focus)>.close-btn{
    fill: #FFFFFF;
}
.btn-open-mobile-menu{
    padding: 0;
    cursor: pointer;
    background: rgba(146, 60, 60,0);
    border:none;
}
.main-nav{
    display:flex;
    justify-content: space-between;
}
}